<section>
  <footer class="tpl-footer">
    <div>
        <div>
            <span class="terms">© 2016 BARCELÓ HOTEL GROUP  |  BARCELO.COM</span>
            <a href="#" rel="nofollow" target="_blank" title="Legal Terms" alt="Legal Terms">{{'views.footer.legal' | translate}}</a>
            <a href="#" rel="nofollow" target="_blank" title="Privacy Policy" alt="Privacy Policy">{{'views.footer.policy' | translate}}</a>
            <a href="#" title="" alt="">{{'views.footer.info' | translate}}</a>
            <a href="#" class="btnOpenModalGdpr" title="" alt="">{{'views.footer.cookies' | translate}}</a>
        </div>
        <div>
            <span>{{'views.footer.reviews' | translate}} </span>
            <a target="_self" title="Tripadvisor">
                <img src="assets/tripadvisor-dark.svg" alt="Tripadvisor">
            </a>
        </div>
    </div>
  </footer>
</section>
