<div class="card">
    <img class="card-img-top" :src="{{hotel.img}}" alt="foto"/>
    <div class="card-body">
      <!-- <h6 class="card-subtitle mb-2 text-muted">Fotaco</h6> -->
      <h5 class="card-title">{{hotel.name}}</h5>
      <hr>
      <p class="card-text-descripcion">{{hotel.description}}</p>
      <p *ngFor="let feature of hotel.features" class="card-text-caracteristicas">{{feature}}</p>
      <div class="precios">
        <p class="card-text-precio-y-oferta">Precio {{hotel.prize}}€</p>
        <p class="card-text-oferta">Oferta {{hotel.offer}}€</p>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary">DETALLES</button>
        <!----<article>
          <i *ngFor="let i of toArray(hotel.score)" class="fa fa-star start" aria-hidden="true"></i>
        </article>-->
      </div>
    </div>
  </div> 
