<div class="card">
    <img class="card-img-top" :src="{{hotel.img}}" alt="foto"/>
    <div class="card-body">
      <!-- <h6 class="card-subtitle mb-2 text-muted">Fotaco</h6> -->
      <h5 class="card-title">{{hotel.name}}</h5>
      <p *ngFor="let feature of hotel.features" class="card-text">{{feature}}</p>
      <p class="card-text">{{hotel.description}}</p>
      <p class="card-text">{{hotel.prize}}</p>
      <p class="card-text">{{hotel.offer}}</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary">DETALLES</button>
        <!----<article>
          <i *ngFor="let i of toArray(hotel.score)" class="fa fa-star start" aria-hidden="true"></i>
        </article>-->
      </div>
    </div>
  </div>
