<nav class="">
  <div class="collapse-icon">
    <i class="fas fa-bars" *ngIf="!showLanguagesPhone" (click)="expandLanguage()"></i>
    <i class="fas fa-times" *ngIf="showLanguagesPhone" (click)="expandLanguage()"></i>
  </div>
  <div class="logotipo">
    <a class="" href="/android_asset/www/home"><img class="logo" src="assets/logo-barcelo-dark.png" alt="Barcelo"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
  </div>
      <div class="flags">
        <span class="flag-icon flag-icon-es bandera m-2" [ngClass]="{unselectedLang: actualLanguage != 'es'}" (click)="changeLanguage('es')"></span>
        <span class="flag-icon flag-icon-gb bandera m-2" [ngClass]="{unselectedLang: actualLanguage != 'en'}" (click)="changeLanguage('en')"></span>
      </div>
</nav>

<div class="menu" [ngClass]="{expand:showLanguagesPhone}">
    <div class="d-flex flex-column">
      <span class="flag-icon flag-icon-es bandera m-2" [ngClass]="{unselectedLang: actualLanguage != 'es'}" (click)="changeLanguage('es')"></span>
      <span class="flag-icon flag-icon-gb bandera m-2" [ngClass]="{unselectedLang: actualLanguage != 'en'}" (click)="changeLanguage('en')"></span>

    </div>
</div>
